@import 'tailwindcss';
html {
	font-family: 'podium-sharp-variable', sans-serif;
	/* font-variation-settings:
		'wght' 700,
		'wdth' 50; */
	@apply text-[80%] text-white !tracking-wider;
}

@theme {
	/* Text sizes */
	--text-xxxl: 10rem;
	--text-xxl: 8rem;
	--text-xl: 6rem;
	--text-lg: 5rem;
	--text-l: 3rem;
	--text-md: 2rem;
	--text-ml: 1.5rem;
	--text-sm: 1.2rem;
	--text-xs: 1rem;
	--text-2xs: 0.95rem;
	--text-3xs: 0.9rem;
	--text-4xs: 0.8rem;
	--text-5xs: 0.7rem;


}

body {
	@apply m-0 bg-[rgb(3,24,3)] uppercase;
}

.container {
	@apply flex max-w-fit flex-col justify-center items-center w-full m-auto h-full;
}
.main-content {
	@apply mt-[15rem] mb-32 min-h-[60vh] flex flex-col justify-start items-center w-[72vw] py-10 px-8;
}

.highlighted {
	@apply bg-white text-black py-0 px-6 border-0 font-bold uppercase mix-blend-lighten w-fit text-lg;
}

h1 {
	@apply m-0 text-xxxl tracking-[0.4rem];
}

h2 {
	@apply m-0 text-lg;
}

h3 {
	@apply m-0 text-lg;
}
p,
a {
	@apply m-0 text-white no-underline text-md [font-variation-settings:'wght'_400,'wdth'_100];
}

nav {
	@apply flex justify-between items-center;
}

nav a {
	@apply mx-8 p-4 transition-all duration-400 md:text-md;
}

nav a:hover {
	@apply bg-white text-[rgba(3,24,3,0.8)];
}

button,
input,
textarea,
select {
	@apply font-[inherit] text-[1.5em] text-inherit tracking-[inherit] [font-variant:inherit] [text-transform:inherit];
}

input,
button {
	@apply m-0 w-fit border-2 border-white bg-transparent p-[0.6em] text-white transition-all duration-400;
}

button:hover {
	@apply cursor-pointer bg-white text-[rgb(3,24,3)];
}

/* Responsive styles */
/* @media (max-width: 1200px) {
	.main-content {
		width: 95vw;
		margin: 15rem 0 5rem 0;
	}
	nav a {
		font-size: var(--fs-sm);
	}
}

@media (max-width: 900px) {
	.main-content {
		margin: 15rem 0 3rem 0;
		width: 99vw;
	}
	nav a {
		margin: 0 1rem;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 60%;
	}
	.container {
		min-height: unset;
		padding: 0 0.5rem;
	}
	.main-content {
		margin: 20rem 0 1rem 0;
		width: 100vw;
		min-height: unset;
	}
	nav {
		flex-direction: column;
		align-items: flex-start;
	}
	nav a {
		margin: 0.5rem 0;
		font-size: var(--fs-md);
		padding: 0.4em 0.4em;
	}
}

@media (max-width: 400px) {
	html {
		font-size: 40%;
	}
	.main-content {
		margin: 25rem 0 0.5rem 0;
	}
	nav a {
		padding: 0.2em 0.2em;
	}
} */
