@import 'tailwindcss';
html {
	font-family: 'podium-sharp-variable', sans-serif;
	@apply text-[80%] text-white !tracking-wider;
	overscroll-behavior: none;
}
@theme {
	/* Text sizes */
	--text-xxxl: 10rem;
	--text-xxl: 8rem;
	--text-xl: 6rem;
	--text-lg: 5rem;
	--text-l: 3rem;
	--text-md: 2rem;
	--text-ml: 1.5rem;
	--text-sm: 1.2rem;
	--text-xs: 1rem;
	--text-2xs: 0.95rem;
	--text-3xs: 0.9rem;
	--text-4xs: 0.8rem;
	--text-5xs: 0.7rem;

	/* Colors */
	--color-primary: rgb(3, 24, 3);

	/* Font Classes */
	--font-sans: 'sans-serif';
}

body {
	@apply m-0 bg-primary uppercase;
}

.container {
	@apply flex max-w-fit flex-col justify-center items-center w-full m-auto h-full;
}
.main-content {
	@apply mt-40 mb-32 min-h-[60vh] flex flex-col justify-start items-center max-w-6xl py-10 px-8;
}

h1 {
	@apply m-0 text-l md:text-lg lg:text-xxxl tracking-[0.4rem];
}

h2 {
	@apply m-0 text-l md:text-lg;
}

h3 {
	@apply m-0 text-lg;
}
p {
	@apply m-0 no-underline text-md [font-variation-settings:'wght'_400,'wdth'_100];
}

nav {
	@apply flex justify-between items-center;
}

li {
	@apply list-disc list-inside;
}

ul {
	@apply ml-0! pl-0!;
}

button,
input,
textarea,
select {
	@apply font-[inherit] sm:text-[1.5em] text-inherit tracking-[inherit] [font-variant:inherit] [text-transform:inherit];
}

input,
button {
	@apply m-0 w-fit border-2 border-white bg-transparent p-[0.6em] text-white transition-all duration-400;
}

button:hover {
	@apply cursor-pointer bg-white text-[rgb(3,24,3)];
}

/* Repeating Styles */
.font-variation {
	font-family: 'podium-sharp-variable', sans-serif;
	font-variation-settings:
		'wght' 700,
		'wdth' 50;
}

/* Insights */
.author {
	@apply text-left !text-sm md:!text-ml !text-black sm:mr-8 !my-2 md:!my-4;
}
.date {
	font-variation-settings:
		'wght' 400,
		'wdth' 100;

	@apply m-0 text-left !text-sm md:!text-ml !text-black;
}

/* ===== Main Scrollbar ===== */

/* (Chrome, Safari, Edge, etc.) */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background-color: rgb(3 24 3);
	border: 2px solid black;
}

::-webkit-scrollbar-thumb {
	background-color: #a7a6a7;

	border: 2px solid black;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a7a6a7c9;
}
